body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/***** NAVBAR *****/
/* NAVBAR DEFAULT MODE */
.navbar {
	height: 12vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav--title {
	margin: 0 5%;
}
.toggle--wrapper {
	width: fit-content;
	display: flex;
	align-items: center;
	margin: 0 5%;
	cursor: pointer;
}
.toggle--slider {
	width: 30px;
	height: 15px;
	margin: 0 5px;
	border: 1px solid black;
	border-radius: 2rem;
	background-color: black;
	display: flex;
	justify-content: flex-start;
}
.toggle--slider--circle {
	width: 50%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
}
/* NAVBAR DARK MODE */
nav.dark {
	background-color: black;
}
nav.dark > div {
	color: white;
}
nav.dark .toggle--slider {
	width: 30px;
	height: 15px;
	margin: 0 5px;
	border: 1px solid white;
	border-radius: 2rem;
	background-color: white;
	display: flex;
	justify-content: flex-end;
}
nav.dark .toggle--slider--circle {
	width: 50%;
	height: 100%;
	border-radius: 50%;
	background-color: black;
}

/***** START PAGE *****/
/* DEFAULT */
.start {
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.start--main {
	margin-bottom: 30vh;
}
.start--main h1 {
	margin: 0 0 25px 0;
}
.start--main button {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px #999;
}
.start--main button:active {
	background-color: black;
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}
/*DARK MODE */
.start--page--dark {
	background-color: black;
}
.start--page--dark h3,
.start--page--dark h1 {
	color: white;
}
.start--page--dark button {
	border: 1px solid white;
	background-color: white;
	color: black;
}
.start--page--dark button:active {
	background-color: white;
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}

/****** NOTES ******/
.body--light {
	min-height: 88vh;
	background-color: white;
}
.body--dark {
	min-height: 88vh;
	background-color: black;
}
.notes {
	height: 75vh;
	display: flex;
	justify-content: center;
}
.notes--dark {
	background-color: black;
	color: white;
}
/* LIST */
.notes--sidebar {
	width: 20%;
	height: 100%;
	text-align: center;
	overflow: scroll;
	border: 1px solid black;
	border-radius: 5px;
}
.notes--dark .notes--sidebar {
	border: 1px solid white;
}
.notes--sidebar--top {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-bottom: 1px solid grey;
	box-shadow: 0 0 7px grey;
}
.notes--sidebar--top h3 {
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.add--note--button {
	margin: 10px;
	width: 35px;
	height: 35px;
	font-size: 25px;
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px #999;
}
.notes--dark .add--note--button {
	background-color: white;
	color: black;
}
.add--note--button:active {
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}
.reverse--button {
	width: 35px;
	height: 35px;
	align-items: center;
	text-align: center;
	padding: 2px;
	font-size: 20px;
	background-color: white;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px #999;
}
.notes--dark .reverse--button {
	background-color: black;
	color: white;
	border: white 1px solid;
}
.reverse--button:active {
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}
.list--item {
	cursor: pointer;
}
.list--item:hover {
	background-color: rgb(216, 215, 215);
}
.notes--dark .list--item:hover {
	background-color: rgb(66, 66, 66);
}
.list--item:active {
	transform: scale(0.99);
}
.list--item--main {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.list--item--main--selected {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #f0ad1466;
}
.date--text {
	color: grey;
	margin: 15px 10px;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.value--text {
	max-height: 20px;
	width: 110px;
	font-size: 15px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.delete--icon {
	width: 30px;
	height: 30px;
	margin: 15px 10px;
	font-size: 15px;
	padding: 0;
	border-radius: 5px;
	background-color: darkred;
	color: grey;
	cursor: pointer;
}
.delete--icon:hover {
	color: white;
	background-color: red;
}
hr {
	margin: 0;
}
/* EDITOR */
.notes--editor {
	width: 35%;
	height: 100%;
	border: 1px solid grey;
	border-radius: 5px;
}
#editor--content {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	padding: 5px 0 5px 10px;
	font-size: 20px;
	resize: none;
	border: none;
	outline: none;
	border-radius: 5px;
}
.notes--dark #editor--content {
	background-color: black;
	color: white;
}
.placeholder {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c5c5c5;
	border-radius: 5px;
}
::-webkit-scrollbar {
	width: 12px;
	height: 0;
	cursor: move;
}
::-webkit-scrollbar-track {
	background: #e7e9eb;
	border: 1px solid white;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: #3f3d3d;
	border-radius: 5px;
}

@media only screen and (max-width: 820px) {
	.toggle--slider,
	nav.dark .toggle--slider {
		width: 20px;
		height: 11px;
	}
	.notes {
		height: 60vh;
	}
	.notes--sidebar {
		width: 40%;
	}
	.notes--editor {
		width: 50%;
	}
	.notes--sidebar--top h3 {
		font-size: 2vw;
	}
	.add--note--button {
		width: 20px;
		height: 20px;
		font-size: 8px;
	}
	.reverse--button {
		width: 20px;
		height: 20px;
		font-size: 10px;
	}
	.date--text {
		margin: 15px 5px;
		font-size: 5px;
		text-align: left;
		white-space: normal;
	}
	.value--text {
		font-size: 10px;
	}
	.delete--icon {
		width: 15px;
		height: 15px;
		margin: 15px 5px;
		font-size: 7px;
		border-radius: 3px;
		text-align: center;
	}
	#editor--content {
		font-size: 15px;
	}
	.placeholder p {
		font-size: 0.8em;
	}
}
